---
import "@/styles/globals.css";
import MySiteLayout from "@/layouts/MySiteLayout.astro";
import { getCollection } from "astro:content";
const hackathons = await getCollection("hackathons");
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { EventCard } from "@/components/EventCard";
let length = 0;
---

<MySiteLayout>
  <div class="md:px-20 sm:px-10 px-2.5 pt-4 md:pt-12 flex flex-col mb-10">
    <div class="flex flex-col">
      <div class="uppercase special-font-class text-4xl lg:text-5xl">
        Hackathons
      </div>
      <p
        class="md:w-2/3 text-base mt-6 lg:text-xl font-spaceGrotesk text-[#5F8785] font-medium"
      >
        Hackathons are IIIT Delhi's internal competitions organized by Byld for
        members and non-members of the club. Students participate and work
        overnight in teams of 3-4 and develop softwares on a given topic. The
        teams that finish at the top in a Hackathon are recruited into the club.
      </p>
    </div>
    <div class="flex flex-col space-y-5 mt-14">
      <div class="uppercase special-font-class text-4xl lg:text-5xl">
        Upcoming &nbsp; Hackathons
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
        {
          hackathons.map((h) => {
            const currentDate = new Date();
            const formattedDate = new Intl.DateTimeFormat("en-US", {
              day: "numeric",
              month: "long",
              year: "numeric",
            }).format(h.data.date);
            if (new Date(h.data.date).getTime() > currentDate.getTime()) {
              length++;
              return (
                <div class="w-fit mt-6">
                  <EventCard
                    title={h.data.title}
                    date={formattedDate}
                    image={
                      h.data.image
                        ? h.data.image
                        : "https://img.freepik.com/free-vector/hackathon-doodle-hand-drawing-team-programmers-web-developers-managers-graphic-designers-deve_88138-1348.jpg"
                    }
                    href={h.data.link ? h.data.link : "/"}
                  />
                </div>
              );
            }
          })
        }
      </div>

      {
        length == 0 && (
          <div class="font-spaceGrotesk pt-5 text-[#5F8785] lg:text-[25px] text-[20px]">
            No upcoming hacakthons. Stay Tuned!
          </div>
        )
      }
    </div>
    <div
      class="flex flex-col space-y-[30px] mt-14 special-font-class text-[28px]"
    >
      <div class="uppercase special-font-class text-4xl lg:text-5xl">
        Past Hackathons
      </div>
      <Table className="mt-6">
        <TableHeader>
          <TableHead>Date</TableHead>
          <TableHead>Theme</TableHead>
          <TableHead>Judges</TableHead>
        </TableHeader>

        <TableBody>
          {
            hackathons.map((h, i) => {
              let currentDate = new Date();
              if (currentDate > h.data.date) {
                const date = new Date(h.data.date);
                const formattedDate = new Intl.DateTimeFormat("en-US", {
                  day: "numeric",
                  month: "long",
                  year: "numeric",
                }).format(date);

                {
                  return (
                    <TableRow key={i} className="font-spaceGrotesk text-[19px]">
                      <TableCell>{formattedDate}</TableCell>
                      <TableCell>{h.data.title}</TableCell>
                      <TableCell className="flex flex-row space-x-1">
                        {h.data?.judges?.map((judge, i) => (
                          <div class="whitespace-nowrap">
                            {h.data.judges &&
                              i != h.data.judges.length - 1 &&
                              `${judge},`}
                          </div>
                        ))}
                      </TableCell>
                    </TableRow>
                  );
                }
              }
            })
          }
        </TableBody>
      </Table>
    </div>
  </div>
</MySiteLayout>

