---
import "@/styles/globals.css";
import MySiteLayout from "@/layouts/MySiteLayout.astro";
import { getCollection } from "astro:content";
const hacknights = await getCollection("hacknights");
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { EventCard } from "@/components/EventCard";
let length = 0;
---

<MySiteLayout>
  <div
    class="xl:px-[150px] pl-[30px] md:px-[60px] pt-[52px] flex flex-col space-y-[106px] mb-10"
  >
    <div class="flex flex-col gap-[46px]">
      <div class="uppercase special-font-class lg:text-[50px] text-[30px]">
        Hacknights
      </div>
      <div
        class="max-w-[65dvw] lg:text-[25px] text-[20px] font-spaceGrotesk text-[#5F8785] font-medium"
      >
        Hack Nights are weekly events organized and managed by Byld where club
        members share their knowledge of a software technology with the
        students. Hack Nights also include an interactive session where students
        sit together with their machines and code.
      </div>
    </div>
    <div class="flex flex-col space-y-5">
      <div class="uppercase special-font-class lg:text-[50px] text-[30px]">
        Upcoming Hacknights
      </div>
      <div class="flex flex-wrap gap-10 lg:grid lg:grid-cols-3">
        {
          hacknights.map((h) => {
            const currentDate = new Date();
            const formattedDate = new Intl.DateTimeFormat("en-US", {
              day: "numeric",
              month: "long",
              year: "numeric",
            }).format(h.data.date);
            if (new Date(h.data.date).getTime() > currentDate.getTime()) {
              length++;
              return (
                <div>
                  <EventCard
                    title={h.data.name}
                    date={formattedDate}
                    description={`Hosts: ${h.data.hosts}`}
                    image={
                      h.data.image ??
                      "https://img.freepik.com/free-vector/hackathon-doodle-hand-drawing-team-programmers-web-developers-managers-graphic-designers-deve_88138-1348.jpg"
                    }
                    href={h.data.link ?? "/"}
                  />
                </div>
              );
            }
          })
        }
      </div>

      {
        length == 0 && (
          <div class="font-spaceGrotesk pt-5 text-[#5F8785] text-[20px] lg:text-[25px]">
            No upcoming hacknights. Stay Tuned!
          </div>
        )
      }
    </div>
    <div class="flex flex-col space-y-[30px] special-font-class text-[28px]">
      <div class="uppercase special-font-class lg:text-[50px] text-[30px]">
        Past Hacknights
      </div>
      <Table className="max-w-[1240px]">
        <TableHeader>
          <TableHead>Date</TableHead>
          <TableHead>Topic</TableHead>
          <TableHead>Host</TableHead>
        </TableHeader>

        <TableBody>
          {
            hacknights.map((h, i) => {
              let currentDate = new Date();
              if (currentDate > h.data.date) {
                const date = new Date(h.data.date);
                const formattedDate = new Intl.DateTimeFormat("en-US", {
                  day: "numeric",
                  month: "long",
                  year: "numeric",
                }).format(date);

                {
                  return (
                    <TableRow key={i} className="font-spaceGrotesk text-[19px]">
                      <TableCell>{formattedDate}</TableCell>
                      <TableCell>{h.data.name}</TableCell>
                      <TableCell className="flex flex-row space-x-1">
                        {h.data?.hosts?.map((host, i) => (
                          <div>
                            {host}
                            {i != h.data.hosts.length - 1 && ","}
                          </div>
                        ))}
                      </TableCell>
                    </TableRow>
                  );
                }
              }
            })
          }
        </TableBody>
      </Table>
    </div>
  </div>
</MySiteLayout>
