---
import MysiteLayout from "@/layouts/MySiteLayout.astro";
import "@/styles/globals.css";
import { team } from "@/content/members/member";
const team1 = JSON.parse(JSON.stringify(team));

type role = {
  role: string,
  members:[{
    name: string,
    email: string,
    image?:string
  }]
}


---

<MysiteLayout>
  <div class="flex flex-col items-center md:items-center pt-5 lg:px-[10rem] md:px-[5rem] px-[1rem]">
    <div class="special-font-class lg:text-5xl md:text-4xl text-3xl">OUR TEAM</div>
    <div class="font-spaceGrotesk md:text-[25px] text-[20px] text-[#207570]">
      Meet the BYLD Team
    </div>
    <div class="mt-10 flex flex-wrap md:flex-row flex-col justify-center gap-10">
          {
            team1.team.map((x:role)=>(
              <div class={`flex flex-col items-center ${x.role=="Coordinators"?'w-full':'md:px-20'}`}>
                <div class="font-semibold text-2xl text-center">
                  {x.role}  
                </div>
                
                <div class={`mt-2 flex items-center ${x.role=="Coordinators" ? 'lg:flex-row':''} flex-col`}>
                  {x.members.map((member:{name:string,email:string,image?:string,description?:string})=>(
                    
                    <div class="text-xl w-fit text-[#207570] font-spaceGrotesk flex flex-col justify-center items-center p-5 gap-2">
                      {
                        member.image && 
                        <div class="card">
                          <div class="content">
                            <div class="front">
                              <img class="h-full w-full object-fill rounded-[5px]" src={member.image} alt="">
                            </div>
                            <div class="back">
                                {member.description}
                            </div>

                          </div>
                        </div>
                      }
                      <a href={`mailto:${member.email}`} class="underline-class">
                        {member.name}
                      </a>
                      
                    </div>
                  ))}  
                </div>
            </div>
            ))
              
          }
    </div>
  </div>
</MysiteLayout>
@/content/members/member